<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload  Your Report</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                            <h4 class="text-primary">Select dataset</h4>
                            <select required id="apiName" name="apiName"
                                    class="form-control form-control-sm">
                                <option value="1">https://www.@.@/dataset 1</option>
                                <option value="2">https://www.@.@/dataset 2</option>
                                <option value="3">https://www.@.@/dataset 3</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <h4 class="text-primary">Report name enter</h4>
                        <input placeholder="report1.jrxml" required
                               type="text" name="reportName" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <input required accept=".jrxml,.png,.jpg,.pdf"
                               type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>